<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8' />
<title>Sinatra Demo</title>
</head>
<body class='container'>
<center>
<h1><%= @title %></h1>


<table>
<% @models.each_line do |model| %>
<tr>
<td><center><%= model %></center></td>
</tr>
<% end %>
</table>
<p>
<a href="/">Back to Home</a>
<p>

</body>
</html>
