<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8' />
<title>Sinatra Demo</title>
</head>
<body class='container'>
<center>
<h1><%= @title %></h1>
<table>
<% @models.each_with_index do |model, i| %>
<tr>
<td><%= i+1 %></td>
<td><center><a href="/list/<%= model.id %>"><%= model.cake %></a></center</td>
</tr>
<% end %>
</table>
<p>
<a href="/">Back to Home</a>

<p>



</body>

</html>
